* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    height: 100%;
    padding-right:10%;
  }
  body {
    min-height: 100%;
    
  }
  /* MOBILE */
  .container {
    display: grid;
    width: 97vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto auto 30px;
    grid-template-areas: 
      "logo menu"
      "image image"
      "text text"
      "footer footer";
  }
  
  .log {
    grid-area: logo;
    margin-top: 35px;
    text-align: center;
  }
  
  .menu {
    grid-area: menu;
  }
  
  .menu ul {
    display: none;
  }
  
  .menu .pro {
    display: block;
    position: absolute;
    right: 3rem;
    width: 2rem;
    height: 3rem;
    z-index: 1;
    margin-top: 2.4em;
  }
  .menu .pro input {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 10000;
    opacity: 0;
    top: -10px;
    left: -10px;
  }
  .menu .pro label {
    display: block;
    transition: .2s ease;
  }
  .menu .pro label .pro-icon span {
    display: block;
    width: 100%;
    height: .18rem;
    margin-bottom: .4rem;
    background: black;
    transition: .2s ease;
  }
  
  .menu .pro .pro-active {
    position: absolute;
    height: 0;
    top: 3.5rem;
    right: 0;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transition: .25s ease;
  }
  
  .menu .pro label .pro-active a.button {
    margin-right: 0;
    margin-bottom: -4px;
  }
  
  .menu .pro input:checked  .pro-active {
    height: 14.5rem;
    opacity: 1;
    width: 280px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 8px 20px 5px rgba(0,0,0,0.14);
    border-radius: 5px;
  }
  
  .menu .pro .pro-active a {
    display: none;
  }
  .menu .pro input:checked  .pro-active a {
    display: block;
    color: black;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin: 25px 0;
    text-transform: uppercase;
    font-size: 1.2em;
  }
  
  /* 'Login' in the mobile menu */
  .menu .pro input:checked  .pro-active a:last-of-type {
    color: hsl(231, 7%, 65%);
    border-top: 1px solid hsl(231, 7%, 65%);
    padding-top: 15px;
  }
  
  .menu .pro input:checked  .pro-active  label {
    padding-top: .4rem;
    transition: .2s ease;
  }
  
  .pro input:checked  .pro-active  label .pro-icon span {
    transition: .2s ease;
  }
  
  .pro input:checked  .pro-active  label .pro-icon span:nth-child(1) {
      transform: rotate(-45deg) translate(-12%, 50%);
      transition: .2s ease;
    }
  
  .pro input:checked  .pro-active  label .pro-icon span:nth-child(2) {
    transform: rotate(45deg) translate(-12%, -50%);
    transition: .2s ease;
  }
  
  .pro input:checked  .pro-active  label .pro-icon span:nth-child(3) {
    opacity: 0;
    transition: .2s ease;
  }
  
  .device {
    grid-area: image;
  }
  
  .device img {
    width: 100%;
  }
  
  .dev {
    width: 100%;
    height: 116%;
    background-color: hsl(207, 33%, 95%);
    grid-column: menu-start / menu-end;
    grid-row: menu-start / image-end;
    border-bottom-left-radius: 70px;
    z-index: -100;
  }
  
  .spar {
    grid-area: text;
    margin-left: 10%;
    margin-top: 80px;
    margin-bottom: 60px;
  }
  
  .spar-head {
    display: flex;
    align-items: center;
  }
  
  .spar-head h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: hsl(231, 7%, 65%);
    text-transform: uppercase;
    font-size: 0.9em;
    margin-left: 20px;
  }
  
  .spart {
    background-color: black;
    color: white;
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
  }
  
  .spart span {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    align-self: center;
    text-transform: uppercase;
    font-size: 0.8em;
  }
  
  .spar .team {
    font-size: 2.5em;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    max-width: 310px;
    line-height: 1em;
  }
  
  .spar .team-team {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: hsl(231, 7%, 65%);
    font-size: 1.2em;
    margin-top: 20px;
    max-width: 285px;
  }
  
  .spar .demo {
    background-color: hsl(0, 100%, 68%);
    border: none;
    padding: 5px;
    font-size: 0.875em;
    color: white;
    text-transform: uppercase;
    height: 48px;
    width: 185px;
    border-radius: 6px;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    margin-top: 30px;
  }
  
  .spar .demo:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .spar .preview {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: hsl(231, 7%, 65%);
    text-transform: uppercase;
    font-size: 0.9em;
    display: inline-block;
    margin-left: 5px;
  }
  
  .mentor {
    grid-area: footer;
  }
  
  .mentor .feel {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color:
    hsl(231, 7%, 65%);
    font-size: 0.9em;
  }
  
  .mentor .feel a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }
  @media (min-width: 327px) {
    .container {
      grid-template-columns: 1fr 1.5fr;
      grid-template-rows: 160px 200px 30px;
      grid-template-areas:
        "logo menu"
        "text image"
        "footer footer" ; 
    }
    .menu ul {
      display: block;
    }
    .menu .pro{
      display: none;
    }
  
    .log {
      margin-left: 10%;
      margin-top: 0;
      text-align: left;
    }
  
    .log img {
      margin-top: 65px;
    }
  
    .menu ul {
      margin-top: 52px;
      list-style: none;
      color: hsl(230, 29%, 20%);
      text-align: center;
    }
  
    .menu ul li {
      display: inline-block;
      text-transform: uppercase;
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 700;
      margin-right: 40px;
    }
  
    .menu ul li a {
      text-decoration: none;
      color: hsl(230, 29%, 20%);
    }
  
    .menu ul li a:hover {
      text-decoration: underline;
    }
  
    .menu ul li a.active {
      color: hsl(231, 7%, 65%);
    }
  
    .menu ul li.dot {
      color: hsl(231, 7%, 65%);
      opacity: 0.6;
      font-size: 2em;
      vertical-align: text-bottom;
    }
  
    .spar {
      margin-bottom: 0;
    }
  
    .spar .team {
      margin-top: 28px;
      font-size: 2.75em;
      max-width: 325px;
    }
  
    .spar .team-team {
      max-width: 200px;
      font-size: 0.9em;
      margin-top: 45px;
    }
  
    .spar .demo {
      margin-top: 66px;
    }
  
    .spar .preview {
      margin-left: 22px;
    }
  
    .device img{
      margin:95px;
      padding-righ:20px;
    }
  
    .dev {
      width: 100%;
      height: 52%;
      background-color: hsl(207, 33%, 95%);
      grid-column: menu-start /menu-end;
      grid-row: menu-start /image-end;
      border-bottom-left-radius: 85px;
      z-index: -100;
    }
  }
